{%- from 'macros/table.njk' import formatTable %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<h1>Description List Support Tables</h1>
		<p>An alternate formatting of the <code>&lt;dl&gt;</code> support tables from <a href="https://adrianroselli.com/2022/12/brief-note-on-description-list-support.html">Adrian Roselli's December 2022 tests</a>. Last built <time datetime="{{ site.buildDateUtc }}">{{ site.formattedBuildDate }}</time>.</p>
	</header>
	<main>
		{% for caption, rows in table.data %}
		{{ formatTable({caption: caption, rows: rows}) }}
		{% endfor %}
	</main>
</body>
</html>