{%- from 'macros/table.njk' import formatTable %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Description List Support Tables</title>
	<link rel="canonical" href="https://adrianroselli.com/2022/12/brief-note-on-description-list-support.html">
	<link rel="stylesheet" href="css/style.css">
	<!-- Primary Meta Tags -->
	<meta name="title" content="Description List Support Tables">
	<meta name="description" content="An alternate formatting of the ‹dl› support tables from Adrian Roselli's December 2022 tests">
	<meta name="theme-color" content="#4dabf7">
	<meta name="generator" content="{{ eleventy.generator }}">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://dl-support.netlify.app/">
	<meta property="og:title" content="Description List Support Tables">
	<meta property="og:description" content="An alternate formatting of the ‹dl› support tables from Adrian Roselli's December 2022 tests">
	<meta property="og:image" content="https://dl-support.netlify.app/assets/cover.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://dl-support.netlify.app/">
	<meta property="twitter:title" content="Description List Support Tables">
	<meta property="twitter:description" content="An alternate formatting of the ‹dl› support tables from Adrian Roselli's December 2022 tests">
	<meta property="twitter:image" content="https://dl-support.netlify.app/assets/cover.png">
</head>
<body>
	<header>
		<h1>Description List Support Tables</h1>
		<p>An alternate formatting of the <code>&lt;dl&gt;</code> support tables from <a href="https://adrianroselli.com/2022/12/brief-note-on-description-list-support.html">Adrian Roselli's December 2022 tests</a>. Last built <time datetime="{{ site.buildDateUtc }}">{{ site.formattedBuildDate }}</time>.</p>
	</header>
	<main>
		{% for caption, rows in table.data %}
		{{ formatTable({caption: caption, rows: rows}) }}
		{% endfor %}
	</main>
</body>
</html>